body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: lightskyblue;
  color: white;
  padding-inline: 45px;
  border-bottom: 1px solid lightskyblue;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-brand {
  font-size: 1.8rem;
  margin-right: 20px;
}
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.navbar-link:hover {
  text-decoration: underline;
}

.home-content {
  position: relative;
}

.student-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.student-image {
  max-width: 100%;
  height: auto;
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Scale the image while preserving its aspect ratio to cover the entire container */
}

.home-content {
  position: relative;
}

.page,
.student-form-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: lightblue;
}
.container,
.student-form {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}
.container h2,
.student-form h2 {
  margin-bottom: 20px;
  text-align: center;
}
.container .form-group,
.student-form .form-group {
  margin-bottom: 15px;
}
.container .form-group label,
.student-form .form-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.container .form-group input,
.container .form-group select,
.student-form .form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
}
.container .btn-login,
.student-form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 8px;
}
